.bg1{
    background-color: #fef9eb !important;
}

.bg2{
    background-color: #f0ead0 !important;
}

.border2{
    box-sizing:content-box;
    border: #f0ead0 solid 0.25rem
}

.text2{
    color: #f8f4e4;
}

.bg3{
    background-color: #f2eee0 !important;
}

.text3{
    color: #f2eee0;
}

.bg4{
    background-color: #e7e5b9 !important;
}

.text4{
    color: #e7e5b9;
}

.bg5{
    background-color: #e4e97b !important;
}

.text5{
    color: #e4e97b;
}

.dark-border{
    border-color: #adad91;
    border-style: solid;
    border-width: 8px;
}

.bganother{
    background-color: #fad49f !important;
}