.MuiStepLabel-root
{
    path,
    .Mui-active circle {
        color: #4CAF50 !important;
        transition: all 0.4s !important;
    }
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #4CAF50 !important;
}

.css-z7uhs0-MuiStepConnector-line {
    border-color: #7E7B73 !important;
}

.css-1hv8oq8-MuiStepLabel-label.Mui-active,
.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
    color: #429945 !important;
}