header {
    $padding: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: $padding;
    background-color: #3e3e3e;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100%;
    grid-template-areas: "logo medium account";

    #shopeeLogo {
        box-sizing: border-box;
        background-color: bisque;   
        border-radius: 999em;
        display: flex;
        grid-area: logo;

        &:link,
        &:visited{
            text-decoration: none;
            color: black;
        }

        div{
            display: flex;
            img {    
                box-sizing: border-box;
                margin-left: 5px;
                height: 100%;            
            }
            div {
                Height: 100%;            
                padding-top: 7%;
                color: rgb(94, 94, 15);
                font-weight: 1000;
                font-size: 1rem;
            }
        }
    }

    #searchbox {
        box-sizing: border-box;
        // padding-left: 10px;
        grid-area: medium;
    }

    #logintext{
        box-sizing: border-box;
        grid-area: medium;
        height: 100%;
        width: 100%;
        margin-left: 10px;
        white-space:nowrap;
        text-align: center;
        font-size: 2rem;
        color: white;
    }
    #accountArea{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        #notLogin{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}